$lt-gray: #ddd;
$background-dark: #512DA8;
$background-light: #9575CD;
$background-pale: #D1C4E9;
$background-moredark:#4527A0;

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.jumbotron {
    @include zero-margin(50px,20px);
    background: url('../../assets/images/res1.jpg') ;
    color:floralwhite;
    min-height: 320px;
}
.active{
    background: $background-moredark;
}